body {
  padding: 20px;
  background: #e8a829;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.header li {
  list-style-type: none;
  margin: 0;
  display: inline;
}

ul.header {
  padding: 0;
  background: #111;
}

ul.header li a {
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: #FFF;
}

.content {
  background: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background: #0099FF;
}

.seatsButton {
  width: 300px;
  height: 60px;
  text-align: center;
  margin: auto;
  border: none;
  background-color: white;
  color: black;
  border: 2px solid orange;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.seatsButton:hover{
  background-color: #e8a829;
  color: white;
}
