body {
  padding: 20px;
  background: #e8a829;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.header li {
  list-style-type: none;
  margin: 0;
  display: inline;
}

ul.header {
  padding: 0;
  background: #111;
}

ul.header li a {
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: #FFF;
}

.content {
  background: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background: #0099FF;
}

.seatsButton {
  width: 300px;
  height: 60px;
  text-align: center;
  margin: auto;
  border: none;
  background-color: white;
  color: black;
  border: 2px solid orange;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.seatsButton:hover{
  background-color: #e8a829;
  color: white;
}

.reservation-form{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
.reservation-form h1{
    background: #5b3800;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.reservation-form input[type="text"],
.reservation-form input[type="date"],
.reservation-form input[type="datetime"],
.reservation-form input[type="email"],
.reservation-form input[type="number"],
.reservation-form input[type="search"],
.reservation-form input[type="time"],
.reservation-form input[type="url"],
.reservation-form textarea,
.reservation-form select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
.reservation-form input[type="text"]:focus,
.reservation-form input[type="date"]:focus,
.reservation-form input[type="datetime"]:focus,
.reservation-form input[type="email"]:focus,
.reservation-form input[type="number"]:focus,
.reservation-form input[type="search"]:focus,
.reservation-form input[type="time"]:focus,
.reservation-form input[type="url"]:focus,
.reservation-form textarea:focus,
.reservation-form select:focus
{
    box-shadow: 0 0 5px darkorange;
    padding: 3%;
    border: 1px solid darkorange;
}

.reservation-form input[type="submit"],
.reservation-form input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #5b3800;
    border-bottom: 2px solid #e28409;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
}
.reservation-form input[type="submit"]:hover,
.reservation-form input[type="button"]:hover{
    background: darkorange;
}
